a#saveCustomer {
    text-decoration: none;
    border: 3px solid darkgreen;
    color: black;
    padding: 4px;
}

a#saveCustomer:hover {
    background-color: greenyellow;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
