<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>List of Customers</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Customers</h1>
<p><a href="/saveCustomer" id="saveCustomer">Save Customer</a></p>
<table>
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="customer: ${customers}" id="customer-table">
            <td th:text="${customer.firstName}" />
            <td th:text="${customer.lastName}" />
            <td th:text="${customer.email}" />
            <td><a th:href="@{/deleteCustomer(id=${customer.id})}" onclick="return deleteCustomer();">Delete</a></td>
            <td><a th:href="@{/updateCustomer(id=${customer.id})}">Update</a></td>
        </tr>
    </tbody>
</table>

</body>
<script>
    function deleteCustomer(){
        if (!confirm("Are you sure you want to delete this customer?")){
            return false;
        }else
            return true;

    }
</script>
</html>